html,body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#score-screen{
	height: 170px;
	width: 300px;
 	background: black;
	background-clip: padding-box;
	border: 4px solid rgba(255,255,255,.2);
	border-radius: 15px;
	box-shadow:
		0 0 1px rgba(255,255,255,.8),
		0 0 3px rgba(0,0,0,.8),
		1px 1px 0 rgba(0,0,0,.8) inset,
		-1px -1px 0 rgba(0,0,0,.8) inset;
	padding: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.play-btn{
	height: 50%;
	width: 50%;
	display: inline-block;
	vertical-align: top;
	float: left; /* magically fixes scrollbar that shouldnt appear. something with margin collapse*/
}
.active{
	cursor: pointer;
}
#btn-1{
	background-color: #D60D0D;
}
#btn-2{
	background-color: #00007f;
}
#btn-3{
	background-color: #067906;
}
#btn-4{
	background-color: #b2aa00;
}
#btn-1.active:hover{
	background-color: #F00;
}
#btn-2.active:hover{
	background-color: #00F;
}
#btn-3.active:hover{
	background-color: #0F0;
}
#btn-4.active:hover{
	background-color: #FF0;
}
#btn-1.blink{
	background-color: #F00;
}
#btn-2.blink{
	background-color: #00F;
}
#btn-3.blink{
	background-color: #0F0;
}
#btn-4.blink{
	background-color: #FF0;
}