@font-face {
    font-family: alarm-clock;
    src: url(../fonts/digital-7.ttf);
}
@font-face{
	font-family: ubuntu;
	src: url(../fonts/Ubuntu-R.ttf);
}
html,body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#score-screen{
	height: 170px;
	width: 300px;
 	background: black;
	background-clip: padding-box;
	border: 4px solid rgba(255,255,255,.2);
	border-radius: 15px;
	box-shadow:
		0 0 1px rgba(255,255,255,.8),
		0 0 3px rgba(0,0,0,.8),
		1px 1px 0 rgba(0,0,0,.8) inset,
		-1px -1px 0 rgba(0,0,0,.8) inset;
	padding: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 50;
	text-align: center;
	color: #E50000;
	font-size: 35px;
	font-family: alarm-clock;
}
#score{
	display: inline-block;
	letter-spacing: 1.3px;
	margin: 20px 0;
}
#start-game{
	display: block;
	margin: 0 auto;
	width: 60%;
	font-family: ubuntu;
	font-size: 35px;
	padding: 10px;
	border: none;
	border-radius: 25px;
	cursor: pointer;
	outline: 0;
	color: #FFFFFF;
	background-color: #71020A;
	box-shadow: 0 10px #3D0005;
}
#start-game:hover {
	background-color: #7F0000; 
}
#start-game:active{
	box-shadow: 0 5px #3D0005;
    transform: translateY(5px);
}
.play-btn{
	position: absolute;
	vertical-align: top;
	border: 4px outset #777;
}
.play-btn:active{
	border: 4px inset #777;
}
.active{
	cursor: pointer;
}
#btn-1{
	background-color: #730E01;
	top: 0;
	bottom: 50%;
	left: 0;
	right: 50%;
}
#btn-2{
	background-color: #00007f;
	top: 0;
	bottom: 50%;
	left: 50%;
	right: 0;
}
#btn-3{
	background-color: #067906;
	top: 50%;
	bottom: 0;
	left: 0;
	right: 50%;
}
#btn-4{
	background-color: #b2aa00;
	top: 50%;
	bottom: 0;
	left: 50%;
	right: 0%;
}
#btn-1.active:hover{
	background-color: #F00;
}
#btn-2.active:hover{
	background-color: #00F;
}
#btn-3.active:hover{
	background-color: #0F0;
}
#btn-4.active:hover{
	background-color: #FF0;
}
#btn-1.blink{
	background-color: #F00;
}
#btn-2.blink{
	background-color: #00F;
}
#btn-3.blink{
	background-color: #0F0;
}
#btn-4.blink{
	background-color: #FF0;
}